@{
    Layout = "_Root.Head";
}

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })


@await Html.PartialAsync("_Notifications")

@await Html.PartialAsync("_JavaScriptDisabledWarning")

@await Html.PartialAsync("_OldInternetExplorerWarning")

<div class="master-wrapper-page site-wrapper">
    <!--Display admin link after log in-->
    @*@await Component.InvokeAsync("AdminHeaderLinks")*@

    @*@await Html.PartialAsync("_Header")*@

    <header class="header petmark-header-3">
        <div class="header-top text-white bg-primary">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        @*<ul class="header-links no-border white-color justify-content-center justify-content-lg-start">
                            <li><a href="cart.html"><i class="fas fa-car-alt"></i> Track Your Order</a></li>
                            <li><a href="login-register.html"><i class="fas fa-user"></i> Register or Sign in</a></li>
                            <li><a href="my-account.html"><i class="fas fa-user"></i> My Account</a></li>
                        </ul>*@

                        <div class="call-widget">
                            <p>
                                LIÊN HỆ: <i class="icon ion-ios-telephone"></i><span class="font-weight-mid">
                                    +91-012
                                    345 678
                                </span>
                            </p>
                        </div>
                    </div>
                    @*<div class="col-lg-6 ">
                        <div class="header-top-nav white-color right-nav justify-content-center justify-content-lg-end">
                            <div class="nav-item">
                                <a class="" href="login-register.html" role="button">Register or Sign in</a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>


    </header>


    <script asp-location="Footer">
        var localized_data = {
            AjaxCartFailure: "@T("AjaxCart.Failure")"
        };
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart', localized_data);
    </script>
    <div class="header-menu">
        @await Component.InvokeAsync("TopMenu")
    </div>
    <div class="master-wrapper-content">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
    @await Component.InvokeAsync("Footer")
</div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
