@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;

<section class="home-slider-3">
    <div class="container">
        <div class=" petmark-slick-slider  home-slider" data-slick-setting='{
				"autoplay": true,
				"autoplaySpeed": 8000,
				"slidesToShow": 1,
				"dots": true
			}'>
            <div class="single-slider home-content bg-image" data-bg="image/bg-images/038150854860746_1349x450.jpg">

                @*<div class="row">
                        <div class="col-lg-12">

                            <h3>Friends & Family</h3>
                            <h1 class="text-primary">SAVE 25% OFF</h1>
                            <h4 class="mt--20">Flea & ticks Product for Cats</h4>

                            <div class="slider-btn mt--30">
                                <a href="shop.html" class="btn btn-outlined--primary btn-rounded">Shop Now</a>
                            </div>

                        </div>
                    </div>*@

                <span class="herobanner-progress"></span>
            </div>
            <div class="single-slider home-content bg-image" data-bg="image/bg-images/392437751148326_1349x450.jpg">

                @*<div class="row">
                        <div class="col-lg-12">

                            <h2>Cat Bowls & <br> Cat Fountains</h2>
                            <h4 class="mt--20">Shop Online For Cat feeding and & Watering Supplies </h4>

                            <div class="slider-btn mt--30">
                                <a href="shop.html" class="btn btn-outlined--orange btn-rounded">Shop Now</a>
                            </div>

                        </div>
                    </div>*@

                <span class="herobanner-progress"></span>
            </div>
        </div>
    </div>
</section>
