@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;

<section class="home-slider-3">
    <div class="container">
        <div class=" petmark-slick-slider  home-slider" data-slick-setting='{
				"autoplay": true,
				"autoplaySpeed": 8000,
				"slidesToShow": 1,
				"dots": true
			}'>
            <div class="single-slider home-content bg-image" data-bg="image/bg-images/038150854860746_1349x450.jpg">

                @*<div class="row">
                    <div class="col-lg-12">

                        <h3>Friends & Family</h3>
                        <h1 class="text-primary">SAVE 25% OFF</h1>
                        <h4 class="mt--20">Flea & ticks Product for Cats</h4>

                        <div class="slider-btn mt--30">
                            <a href="shop.html" class="btn btn-outlined--primary btn-rounded">Shop Now</a>
                        </div>

                    </div>
                </div>*@

                <span class="herobanner-progress"></span>
            </div>
            <div class="single-slider home-content bg-image" data-bg="image/bg-images/392437751148326_1349x450.jpg">

                @*<div class="row">
                    <div class="col-lg-12">

                        <h2>Cat Bowls & <br> Cat Fountains</h2>
                        <h4 class="mt--20">Shop Online For Cat feeding and & Watering Supplies </h4>

                        <div class="slider-btn mt--30">
                            <a href="shop.html" class="btn btn-outlined--orange btn-rounded">Shop Now</a>
                        </div>

                    </div>
                </div>*@

                <span class="herobanner-progress"></span>
            </div>
        </div>
    </div>
</section>

<section class="pt--50 space-db--30">
    <h2 class="d-none">
        Promotion Block
    </h2>
    <div class="container">
        <div class="block-service">
            <div class="title-service">
                <img src="~/image/services/bg-title-dv.png"/>
                <h2><span>Dịch Vụ & Điều Trị</span></h2>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-3">
                <a class="promo-image overflow-image">
                    <img src="image/services/benhdaiocho-7724_245x245.jpg" alt="" width="229" height="229">
                </a>
            </div>
            <div class="col-md-3">
                <a class="promo-image overflow-image">
                    <img src="image/services/benhcareocho-8313_245x245.jpg" alt="" width="370" height="180" >
                </a>

            </div>
            <div class="col-md-3">
                <a class="promo-image overflow-image">
                    <img src="image/services/cacbenhsieuviomeo-5003_245x245.jpg" alt="" width="370" height="180">
                </a>
            </div>
        </div>*@
    </div>
</section>